body {
    font-family: Arial, sans-serif;
    background-color: #dcdcdc;
}
.navbar {
    background-color: #4f6b3f;
}
.navbar-brand {
    font-weight: bold;
    color: white;

}
.sidebar {
    background-color: #4f6b3f;
    min-height: 100vh;
}
.sidebar a {
    color: white;
    padding: 15px 20px;
    display: block;
    text-decoration: none;
}
.sidebar a:hover {
    background-color: #198754;
    border-radius: 8px;
}
.dashboard-content {
    background-color: #dcdcdc;
    padding: 20px;
}
.card {
    background-color: white;
    border: 1px solid #ffffff;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}
.card h4 {
    font-size: 2rem;
    font-weight: bold;
}
.header-title {
    font-size: 24px;
    font-weight: bold;
}

.notification-bar {
    position: absolute;
    top: 80px;
    width: 350px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: none;
    z-index: 1000;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.notification-bar.active {
    display: block;
}
.notification-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
}
.notification-item:last-child {
    border-bottom: none;
}
.notification-item:hover {
    background: #f1f1f1;
}
.notification-item img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 5px;
}
.notification-content {
    flex-grow: 1;
}
.notification-button {
    background: #4d6936;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}
.notification-button:hover {
    background: #3a4e28;
}
